doctype html
head
	title Express Application
	link(rel='stylesheet' type='text/css' href='css/style.css')
	//- script(src='../express.js')
	body
	
		.container
			.header
				h1 THANK YOU!
			.body
					.output= 'Visitors Name: '+ visitorName 
					.output= 'Age: '+ visitorAge
					.output= 'Date of visit: '+ visitDate
					.output= 'Time of visit: '+ visitTime
					.output= 'Comment: '+ comments
